.login {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.login a {
    text-decoration: none;
}

.login__left {
    width: 50%;
    height: 450px;
}

.login__left > img {
    width: 100%;
    height: inherit;
}

.login__right {
    width: 45%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.login__right > h1 {
    margin-bottom: 1rem;
}

.login__right > label {
    font-weight: bold;
}

.login__right > input {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    border-radius: 8px;
    border: 1px solid grey;
    outline-color: grey;
}

.login__right > p {
    padding: 1rem 0;
    text-align: center;
}

.login__right > p:nth-of-type(2) {
    color: var(--orange);
}

.login__right > a > p:last-of-type {
    padding: 0;
    color: var(--orange);
    text-align: center;
}