.container {
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    flex-wrap: wrap;
}

.leftSide{
    padding-top: 2.5rem;
    width: 40%;
}

.leftSide p{
    padding-top: 1rem;
    line-height: 36px;
    color: rgba(167, 169, 172, 1);
}

.rightSide{
    padding-top: 2.5rem;
    width: 40%;
}
.rightSide img {
    width: 350px;
    height: 350px;
}

.line img{
    float: right;
    margin-top: 3rem;
    width: 60%
}

.orange_text{
    color: rgba(247, 146, 28, 1);
}

.insurance_container {
    margin-left: 4%;
}

.insurance_desc {
    align-self: center;
}

.insurance_img img{
    width: 500px;
    align-self: flex-start;
}