.partner {
    margin: 1rem 0;
    text-align: center;
    padding-left: 8%;
}

.partner__texts {
    margin: auto;
    margin-bottom: 1rem;
    width: 50%;
    display: flex;
    justify-content: space-around;
    color: var(--orange);
}

.partner__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.partner__card {
    width: 120px;
    height: 120px;
}

.partner__card > img {
    width: inherit;
    height: inherit;
}