.register {
    padding: 1rem 1.5rem;

}

.register > h1, .register > p {
    margin: 1rem 0;
    text-align: center;
}


.register__wrapper {
    display: flex;
    justify-content: space-between;
}

.register__left {
    width: 50%;
    height: 450px;
}

.register__left > img {
    width: 100%;
    height: inherit;
}

.register__right {
    width: 45%;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.register__right > h1 {
    margin-bottom: 1rem;
}

.register__right > label {
    font-weight: bold;
}

.register__right > input {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    border-radius: 8px;
    border: 1px solid grey;
    outline-color: grey;
}

.register__right > p {
    padding: 1rem 0;
    text-align: center;
}